---
const response = await fetch(
    'https://dummyjson.com/products/category/smartphones'
);
const data = await response.json();

console.log (data);
---

{
    data.products.map ((prd: any) => (
        <div id="card" class="product-card">
            <img id="image" src={prd.images[0]} 
             height="250px" width="45%"
             data-second-image={prd.images[1] || prd.images[0]} 
             data-first-image={prd.images[0]}             
            />

            <div id="info">
                <div class="name">
                    <p>Nombre: {prd.title}</p>
                </div>
                <div class="name">
                    <em>Descripci칩n: {prd.description}</em>
                </div>
                <div class="name">
                    <p>Precio: {prd.price}</p>
                </div>
                <div class="name">
                    <p>Stock: {prd.stock}</p>
                </div>
                <div class="name">
                    <p>Marca: {prd.brand}</p>
                </div>
            </div>
        </div>
    ))
}

<script>
    // Selecciona todas las tarjetas de productos
    const productCards = document.querySelectorAll('.product-card');
    
    // A침ade event listeners a cada tarjeta
    productCards.forEach(card => {
        const img = card.querySelector('img');
        
        // Cuando el mouse entra en la tarjeta
        card.addEventListener('mouseenter', () => {
            const secondImage = img.getAttribute('data-second-image');
            img.setAttribute('src', secondImage);
        });
        
        // Cuando el mouse sale de la tarjeta
        card.addEventListener('mouseleave', () => {
            const firstImage = img.getAttribute('data-first-image');
            img.setAttribute('src', firstImage);
        });
    });
</script>

<style>
    #image {
        width: 100%;
    }

    #info {
        width: 100%;
    }
    
    #card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px;
        border: grey 1px solid;
        border-radius: 8px;
        transition: transform 0.2s ease; /* 1. Suaviza la animaci칩n */
    }

    #card:hover {
        transform: scale(1.03); /* 2. Aumenta un 3% el tama침o */
    }

    .name {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    * {
        font-family: system-ui, sans-serif;
        font-size: 10px;
      }

    /* Media Queries */
    @media (min-width: 480px) {
        #card {
            flex-direction: row;
        }
        #image {
            width: 45%;
        }
        #info {
            width: 55%;
            padding-left: 10px;
        }
    }
    
    @media (min-width: 768px) {
        #card {
            width: 50%;
        }
    }
    
    @media (min-width: 1024px) {
        #card {
            width: 30%;
        }
    }    
</style>